@charset "UTF-8";
.header{
    width: 100%;
    background-color: #5FD8AA;
    height: 120px;
    display: flex;
    align-items: center;
    border-bottom:  1px solid #000;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.head_log{
    width: 150px;
    margin-left: 1%;
}
.head_log img{
    width: 100%;
}
.header_log_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
.btn {
    /* ボタンのコンテナのスタイル */
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 24px;
    background-color: #000000;
    text-align: center;
}
.btn button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}
/* ハンバーガーナビベーション */
.header-nave {
    display: block;
    position: fixed;
    background-color: #FFE4C4;
    width: 30%;
    top: 0;
    bottom: 0;
    transition: all 0.4s;
    z-index: 3;
    opacity: 0;
  }
  .open .header-nave {
    left: 80%;
    opacity: 1;
  }
  .header-nave .inner {
    padding: 25px;
  }
  .inner{
    margin-top: 10%;
    text-align: center;
  }
  .inner_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_text{ 
    text-align: left;
    margin-top: 30px;
  }
  .nav_text p{ 
    padding: 5px;
  }
  .nav_sns_icon{
    margin-top: 30px;
  }
  .nav_content{
    display: flex;
    align-items: center;
  }
  .header-nave .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-nave .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
    width: 320px;
  }
  .header-nave .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .header-nave .inner ul li a:hover {
    background: #e4e4e4;
  }
  .toggle-btn {
    display: block;
    position: fixed;
    top: 40px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    
  }
  .toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s;
    border-radius: 4px;
  }
  .toggle-btn span:nth-child(1) {
    top: 4px;
  }
  .toggle-btn span:nth-child(2) {
    top: 14px;
  }
  .toggle-btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle-btn span {
    background-color: #000000;
  }
  .open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: all 0.5s;
  }
  .open #mask {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  /* ナビベーション終了 */
/* header_content */
/* sns_content */
.sns_content{
    padding-top: 80px;
}
.sns_area{
    background-color: #000000;
    padding-block: 40px;
}
.sns_area_img{
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.sns_area_img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}
.sns_ttl{
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.sns_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 25px;
}
.sns_icon img{
    width: 50px;
}
.sns_area_text{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.inquiry{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.7rem;
}
footer {
    height: 37px;
    background-color: #000000;
    display: grid;
    place-items: center;
    border-top: 1px solid #fff;
}
.footer-text p {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    
}
