@charset "UTF-8";
/* header_content */
body {
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: aquamarine;
    height: 120px;
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.head_log{
    width: 150px;
    /* margin-left: 10%; */
}
.head_log img{
    width: 100%;
}
.header_log_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
.btn {
    /* ボタンのコンテナのスタイル */
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 24px;
    background-color: #000000;
    text-align: center;
}
.btn button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}
/* ハンバーガーナビベーション */
.header-nave {
    display: block;
    position: fixed;
    background-color: #FFE4C4;
    width: 30%;
    top: 0;
    bottom: 0;
    transition: all 0.4s;
    z-index: 3;
    opacity: 0;
  }
  .open .header-nave {
    left: 80%;
    opacity: 1;
  }
  .header-nave .inner {
    padding: 25px;
  }
  .inner{
    margin-top: 10%;
    text-align: center;
  }
  .inner_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_text{ 
    text-align: left;
    margin-top: 30px;
  }
  .nav_text p{ 
    padding: 5px;
  }
  .nav_sns_icon{
    margin-top: 30px;
  }
  .nav_content{
    display: flex;
    align-items: center;
  }
  .header-nave .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-nave .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
    width: 320px;
  }
  .header-nave .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .header-nave .inner ul li a:hover {
    background: #e4e4e4;
  }
  .toggle-btn {
    display: block;
    position: fixed;
    top: 40px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    
  }
  .toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s;
    border-radius: 4px;
  }
  .toggle-btn span:nth-child(1) {
    top: 4px;
  }
  .toggle-btn span:nth-child(2) {
    top: 14px;
  }
  .toggle-btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle-btn span {
    background-color: #000000;
  }
  .open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: all 0.5s;
  }
  .open #mask {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  /* ナビベーション終了 */
/* main_section */
.main_section{
    padding-block: 100px;
    width: 1200px;
    margin: 0 auto;
}
.main_section{
    text-align: center;
}
.search_ttl{
    font-size: 3rem;
    font-weight: bold;
}
.search{
    font-size: 2rem;
    margin-block: 30px;
    font-weight: bold;
}
/* second_content */
.second_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 80px;
    gap: 100px;
}
.second_img{
    width: 100%;
    background-color: #FFC268;
    padding-inline: 10px;
    padding-block: 30px;
    border-radius: 10%;
}
.img_container{
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.img_container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.second_text{
    text-align: start;
    margin-block: 10px;
}
.second_btn {
    /* ボタンのコンテナのスタイル */
    padding-block: 5px;
    padding-inline: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #000000;
    width: 130px;
    margin-block: 20px;
}
.second_btn button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}
.price img {
    width: 20px;
}
/* scene */
.scene{
    background-color: #FFD1DF;
    position: relative;
    height: 500px;
    width: 100%;
}
.scene_ttl{
    position: absolute;
    top: -30px;
    left: 45%;
    font-size: 3rem;
    font-weight: bold;
}
.scene_text{
    position: absolute;
    top: 60px;
    left: 44.3%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.scene_btn_content0{
    margin-top: 5%;
}
.btn_flex{
    padding-top: 10%;
    width: 1200px;
    margin: 0 auto;
}
.scene_btn_content{
    width: 950px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.scene_btn_content02{
    width: 950px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
}

/* button */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
 
}
a.btn-flat {
    overflow: hidden; 
    color: #fff;
    border-radius: 0;
    background: #000;
  }
  
  a.btn-flat span {
    position: relative;
  }
  
  a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
    background: #eb6877;
  }
  
  a.btn-flat:hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .push{
    text-align: center;
  }

  /* category */
.category{
    background-color: #EBE7E7;
    position: relative;
    padding-bottom: 160px;
}
.category_ttl{
    position: absolute;
    top: -30px;
    left: 42%;
    font-size: 3rem;
    font-weight: bold;
}
.category_text{
    position: absolute;
    top: 60px;
    left: 44%;
    font-size: 1rem;
    font-weight: bold;
}
.circle_content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 180px;
    text-align: center;
}
.circle_img{
    width: 900px;
}
.circle_img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
}
.circle_text{
    margin-top: 10px;
}

/* sns_content */
.sns_content{
    padding-top: 80px;
}
.sns_area{
    background-color: #000000;
    padding-block: 40px;
}
.sns_area_img{
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.sns_area_img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}
.sns_ttl{
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.sns_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 25px;
}
.sns_icon img{
    width: 50px;
}
.sns_area_text{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.inquiry{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.7rem;
}
footer {
    height: 37px;
    background-color: #000000;
    display: grid;
    place-items: center;
    border-top: 1px solid #fff;
}
.footer-text p {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    
}
